.image {
    position: relative;
}

.image img {
    width: 100%;
    height: 70vh;
    opacity: 80%;
    padding-top: 10px;
}

.image button {
    border: 1px solid #3a7bc6;
    font-size: larger;
    font-weight: 700;
    background-color: #3a7bc6;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.image button:hover {
    border: 1px solid black;
    font-size: x-large;
    font-weight: 700;
    background-color: black;
    color: white;
    font-family: 'Courier New', Courier, monospace;

}

.image .btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.goal p {
    font-size: large;
    font-weight: 400;
    text-align: justify;
}

.about {
    display: flex;
    flex-direction: row;
    margin-top: 5%;
}

.about .img {
    width: 35%;
    padding-top: 10%;
    padding-left: 2%;
    margin-left: 5%;

}

.about .content {
    width: 50%;
    margin-left: 5%;
}

.about .content p {
    font-size: large;
    font-weight: 400;
    text-align: justify;

}

.label {
    background-color: #F5F7FA;
    padding: 1%;
    margin-top: 2%;
}

.label h1 {
    color: #263238;
}

.label h2 {
    color: #717171;
}

.label .button {
    background-color: #E63946;
    color: white;
    border: 1px solid #E63946;
    border-radius: 10px;
    margin-bottom: 3%;
    padding: 1%;
    font-size: large;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.label .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.label .button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.label .button:hover span {
    padding-right: 25px;
}

.label .button:hover span:after {
    opacity: 1;
    right: 0;
}